*{
    margin:0;
    padding: 0;
}
.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 197, 223, 0.356);
}
.app>p{
    margin-top: 20px;
}